<style>
  .login-form-title {
    text-align: center;
    font-weight: bold;
    margin-top: 0px;
  }

  .login-form{
    margin-top: 50px;
    background-color: rgba(2555,255,255,0.7);
  }

  .submit-button{
    font-weight: bold;
  }

  body{
    background-image: url(<%= image_path('background_blur.jpg') %>);
    background-size:cover;
  }
</style>

<div class="container">
  <div class="row">

    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 login-form">

      <%= form_tag "/sessions" do %>

        <h2 class="login-form-title">Sign In</h2>

        <div class="form-group">
          <div class="input-group input-group-lg">
            <%= label_tag 'user_name', "Username", :class => "input-group-addon" %>
            <%= text_field_tag 'user_name', nil, placeholder: 'user_name@email.com',:class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group input-group-lg">
            <%= label_tag 'password', "Password", :class => "input-group-addon" %>
            <%= password_field_tag 'password', nil, :class => "form-control"%>
          </div>
        </div>

        <%= submit_tag "Login", class: "btn btn-primary btn-lg btn-block submit-button" %>

     <% end %>
    </div>

  </div>

</div>
